h1, h2, .date {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 200;
}

.activity-sec {
    flex-grow: 4;
		display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.welcom-sec {
	background-color: grey;
}

h3, 
.card {
	padding: 6px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	text-align: center;
}

.goal-log {
	list-style: none;
	max-height: 150px;
	border: 1px solid grey;
	overflow: scroll;
	text-align: left;
}

.friend-data {
	list-style: none;
	text-align: left;
}

h3 {
	font-weight: bold;
	font-size: 20px;
}

.card {
		background-color: lightblue;
		border-radius: 25px;
		opacity: 0.6;
		margin-top: 40px;
		margin-left: 3px;
		min-height: 450px;
    max-height: 450px;
    min-width: 300px;
    max-width: 300px;
		overflow: scroll;
		border: 1px grey solid;
		padding: 14px;
}

.user-card,
.miles-active-card {
	background-color: rgb(138, 114, 108);
}

.water-card,
.stairs-card {
	background-color: rgb(141, 136, 194);
}

.sleep-quality-card {
	background-color: rgb(200, 165, 211);
}

.sleep-time-card {
	background-color: rgb(126, 190, 187);
}

.sleep-quality-card,
.friend-steps-card {
	background-color: rgb(115, 183, 223);
}

.min-active-card {
	background-color: rgb(191, 224, 172);
}

.step-goal-card {
	background-color: rgb(241, 214, 138);
}